evaluate==0.4.0
hydra-core==1.3.2
nltk==3.8.1
numpy==1.23.5
omegaconf==2.0.6
pandas==2.0.0
pytorch_lightning==2.0.1.post0
spacy==3.5.2
streamlit==0.82.0
torch==2.0.0
transformers==4.19.2
wandb
rouge-score==0.0.4
protobuf==3.20.0
neptune-client==1.1.1